#-------------------------- Docker-Compose file uses only for local development--not for pipeline as ------------------------------
#-------------------------- docker-compose = orkestrering (lokalt) ------------------------------
#-------------------------- Docker Compose – hur man kör FLERA containrar tillsammans(containrar skapas i Dockerfile) ------------------------------
# Den: använder Dockerfile (eller färdiga images), beskriver hur containrar pratar med varandra, sätter portar, miljövariabler, volymer


services:
  mongo: 
    image: mongo:latest
    restart: no
    ports:
      - 27017:27017
    volumes:
      - mongodata:/data/db
  backend:
    image: app-backend:latest
    restart: no
    ports:
      - 3000:3000
    environment:
      MONGO_URL: mongodb://mongo:27017
     # - MONGO_URL=${MONGO_URL} # alternativt hämta från .env fil men fungerade inte vid lokal testning, kanske fungerar bättre utan sträcketsättning i pipeline

    depends_on:
      - mongo
volumes:
  mongodata: