version: '3.9'
services:
  # MongoDB service
  mongo: 
    image: mongo:latest
    restart: no
    ports:
      - 27017:27017
    volumes:
      - mongodata:/data/db
  # Node JS backend service
  backend:
    build: .
    image: drugtargets3dhuman-f9e5g4e9h5e5aces.azurecr.io/backend:latest  # ghcr.io/ayemfsu24d/backend-image:latest #Github username: ayemFSU24D om man ska hämta från Docker Hub istället
    restart: no
    ports:
      - 3000:3000
    environment:
      - MONGO_URL=mongodb://mongo:27017
    depends_on:
      - mongo
volumes:
  mongodata: